@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.blackfriday-hero{
  background-image: url(../images/black-friday-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  @apply font-black text-font-color;
  font-family: "Lato", sans-serif;
}
body {
  @apply text-font-color-light;
  font-family: "Lato", sans-serif;
}
p {
  @apply mb-4;
}
a {
  @apply text-primary;
}
img {
  @apply h-auto max-w-full;
}
figure {
  width: auto !important;
}
h1 {
  @apply text-4xl lg:text-5xl;
}
h2 {
  @apply text-3xl lg:text-4xl;
}
h3 {
  @apply text-2xl lg:text-3xl;
}
h4 {
  @apply text-xl lg:text-2xl;
}
h5 {
  @apply text-lg lg:text-xl;
}
h6 {
  @apply text-base lg:text-lg;
}
.ta-btn-primary {
  @apply !py-1.5 lg:!py-2 px-5 lg:px-8 bg-primary rounded-3xl !text-white  ease-linear duration-300 inline-block;
}
.ta-btn-primary:hover{
  @apply bg-black;
}

.ta-btn-secondary {
  @apply !py-1.5 lg:!py-2 px-5 lg:px-8 bg-white hover:bg-primary rounded-full border-2 border-primary text-primary hover:!text-white ease-linear duration-300 inline-block;
}
input,
textarea,
select {
  @apply w-full p-3 border rounded bg-secondary border-secondary focus:outline-none;
}
textarea {
  @apply h-[150px];
}
input[type="submit"] {
  @apply w-auto px-5 py-2 mt-4 text-white rounded bg-primary;
}
input[type="checkbox"] {
  @apply w-auto;
}
label {
  @apply block mb-3 font-bold capitalize text-font-color;
}

/* Header Css */
.ta-header {
  @apply absolute z-20 w-full py-5 duration-200 ease-linear bg-secondary;
}
.ta-header ul {
  @apply items-center md:flex;
}
.ta-header ul li {
  @apply hidden my-1 lg:my-0 md:flex md:ml-6 lg:ml-8;
}

.ta-header ul li a {
  @apply inline-block py-1 font-bold lg:py-3 hover:text-primary text-font-color;
}
.ta-sticky-menu {
  @apply fixed top-0 left-0 w-full px-0 py-3 bg-white;
  box-shadow: 0 13px 22px -5px rgb(0 0 0 / 10%);
}
.ta-header button svg:last-child {
  @apply !hidden;
}
.ta-header.menu-active {
  @apply fixed top-0 left-0 w-full px-0 py-3 bg-white;
  box-shadow: 0 13px 22px -5px rgb(0 0 0 / 10%);
}
.ta-header.menu-active nav {
  @apply items-start;
}
.ta-header.menu-active ul li {
  @apply !flex;
}
.ta-header.menu-active button {
  @apply py-2;
}
.ta-header.menu-active button svg:last-child {
  @apply !flex;
}
.ta-header.menu-active button svg:first-child {
  @apply !hidden;
}

/* Hero css */
.bg-banner-img {
  background-image: url("../images/hero.png");
}

/* Featured css */

.category-list a {
  font-size: 13px;
}
.post-thumbnail img {
  @apply max-h-[375px] w-full object-cover;
}
form .search-field {
  @apply focus:outline-none !bg-inherit border-none;
}
#category-select select {
  background: inherit;
  border: none;
}
.wpcf7-response-output {
  @apply text-center;
}
.not-found form input {
  @apply hidden;
}
.not-found form label input {
  @apply block !bg-secondary border border-primary rounded p-2 focus:outline-none w-1/3 mx-auto;
}

/*Contact*/
.tab-pane {
  @apply hidden;
}
.tab-pane.tab-pane-active {
  @apply !block;
}
ul .tab {
  @apply transition-all duration-500;
}
ul .tab.tab-active {
  @apply bg-primary;
}
ul .tab.tab-active span {
  @apply text-white;
}
ul .tab.tab-active svg {
  @apply fill-white;
}

/* Footer css */
.ta-footer ul li {
  @apply pb-2;
}
.ta-footer ul li a {
  @apply text-sm;
}
.ta-footer.bg-secondary form,
.ta-footer.bg-secondary form input {
  @apply !bg-white;
}
.ta-footer.bg-secondary .ta-footer-bottom {
  @apply !border-font-color-light;
}
.ta-footer .wp-block-heading {
  @apply mb-5 text-base font-bold;
}

/* Blog css */
.ta-pagination .nav-links {
  @apply flex items-center justify-center gap-2;
}
.ta-pagination .page-numbers {
  @apply flex items-center justify-center border-2 rounded border-secondary text-font-color-light w-9 h-9;
}
.ta-pagination .page-numbers:hover,
.ta-pagination .page-numbers.current {
  @apply !text-white bg-primary border-primary;
}
.ta-pagination .page-numbers:hover svg {
  @apply fill-white;
}
.ta-pagination .page-numbers i::before {
  @apply font-semibold;
}
.text-ta-section-title {
  font-size: 34px;
  line-height: 40px;
}

.ta-contact-form .form-control {
  @apply block w-full mb-0 text-base text-font-color-light;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ta-blog-details ul {
  @apply pl-5 mb-4 list-disc sm:mb-5 sm:pl-9;
}
.ta-blog-details a {
  @apply text-primary text-xl inline-block pb-1.5;
}
.ta-blog-details p {
  @apply mb-4;
}
.ta-blog-details h2,
.ta-blog-details h2 strong {
  @apply mb-4 text-3xl;
}
.ta-blog-details h3,
.ta-blog-details h3 strong {
  @apply mb-4 text-3xl;
}
.ta-blog-details ol {
  @apply pl-5 mb-4 sm:mb-5 sm:pl-9;
  list-style: auto;
}
.ta-blog-details .wp-block-avatar img {
  @apply object-cover w-10 h-10 rounded-full;
}

.ta-blog-details figcaption {
  @apply mt-2 mb-4 text-xs text-center text-secondary;
  line-height: 1;
}
.ta-blog-details .wp-block-image img {
  box-shadow: 0 4px 8px 0 rgb(67 65 78 / 8%);
  border-radius: 5px;
}
.ta-btn-secondary.live-demo {
  padding: 10px 32px !important;
}
/* Case Study */
.ta-case-study h3 {
  @apply mb-2;
}

/* extra css */
.sp-single-page p {
  margin-bottom: 1rem;
}

.ta-single-blog input[type="submit"] {
  @apply !py-1.5 lg:!py-3 px-5 lg:px-8 bg-primary rounded-3xl !text-white  ease-linear duration-300 inline-block cursor-pointer;
}
.ta-single-blog .post-categories {
  @apply flex flex-wrap items-center justify-center gap-2;
}
.ta-single-blog .post-categories li a {
  @apply bg-primary py-1 px-2 !text-white;
}
.ta-single-blog .wp-block-page-list {
  @apply p-0;
}
.ta-single-blog .wp-block-page-list li {
  @apply border-b border-font-color;
}
.ta-single-blog .wp-block-page-list li a {
  @apply !text-font-color;
}
.ta-single-blog .wp-block-page-list .wp-block-navigation__submenu-container li {
  @apply border-none;
}
.ta-single-blog .wp-block-site-title a {
  @apply p-0 pb-1 mb-3 text-3xl capitalize border-b border-font-color text-font-color;
}
.ta-single-blog .wp-block-post-template,
.ta-single-blog .wp-block-comments .wp-block-comment-template {
  @apply p-0 list-none;
}
.ta-single-blog .wp-block-post-featured-image {
  @apply mb-4;
}
.ta-single-blog .entry-content p {
  @apply mb-7;
}
.ta-single-blog .wp-block-group.has-background p {
  @apply py-4;
}
.ta-single-blog a {
  @apply !text-primary;
}

.ta-single-blog .comment-form-comment label,
.ta-single-blog .comment-form-author label,
.ta-single-blog .comment-form-email label,
.ta-single-blog .comment-form-url label {
  @apply block mb-3 font-bold;
}
.ta-single-blog form.comment-form p {
  @apply mb-4;
}

.ta-single-blog input[type="submit"] {
  @apply w-1/3 mx-auto;
}
.ta-single-blog .form-submit {
  @apply text-center;
}
.ta-single-blog .logged-in-as {
  @apply mb-3;
}
.ta-single-blog
  .wp-block-search__button-outside
  .wp-block-search__inside-wrapper {
  @apply mt-2;
}
.ta-single-blog
  .wp-block-search__button-outside
  .wp-block-search__inside-wrapper
  button {
  @apply !py-1.5 lg:!py-3 px-5 lg:px-8 bg-primary rounded-3xl !text-white  ease-linear duration-300 inline-block;
}
.ta-single-blog .wp-social-link-fivehundredpx a svg {
  @apply text-white;
}
.ta-single-blog .wp-social-link-wordpress a svg {
  @apply text-white;
}
.ta-single-blog .wp-block-buttons {
  @apply mb-5;
}
.ta-single-blog .wp-block-button__link.wp-element-button {
  @apply py-4 px-8 !text-white;
}
.ta-single-blog .is-style-outline .wp-block-button__link.wp-element-button {
  @apply !text-font-color;
}
.ta-single-blog .wp-block-file {
  @apply mt-4;
}
.ta-single-blog .wp-block-file .wp-block-file__button {
  @apply py-2 px-4 !text-white;
}
.ta-single-blog .ta-blog-details ul,
.ta-single-blog .ta-blog-details ol {
  @apply pl-5;
}
.ta-single-blog blockquote {
  @apply pl-4 border-l-4 border-primary;
}
.ta-single-blog blockquote p {
  @apply !text-2xl;
}
.ta-single-blog blockquote cite {
  @apply !text-lg;
}
.ta-single-blog blockquote.has-text-align-right {
  @apply pl-0 pr-4 border-l-0 border-r-4;
}
.ta-single-blog blockquote p {
  @apply italic;
}
.ta-single-blog .wp-block-quote {
  @apply my-4;
}
.ta-single-blog code {
  @apply p-4 rounded-lg bg-secondary;
}
.ta-single-blog pre {
  @apply p-5 bg-secondary;
}
.ta-single-blog figcaption {
  @apply text-font-color;
}
.ta-single-blog .wp-block-button__link {
  @apply py-3 px-6 !text-white;
}
.ta-single-blog .alignleft {
  @apply max-w-[420px] w-full float-left mb-6 mr-6;
}
.ta-single-blog .wp-block-cover-text,
.ta-single-blog .wp-block-cover-text a,
.ta-single-blog .wp-block-cover-text strong {
  @apply !text-white;
}
.ta-single-blog .entry-content {
  @apply leading-normal;
}
.ta-single-blog .wp-block-audio {
  @apply mb-5;
}
.ta-single-blog .gallery-columns-2 {
  @apply grid grid-cols-2 gap-5;
}
.ta-single-blog .gallery-columns-2 figcaption {
  @apply text-left;
}
.ta-single-blog select {
  @apply px-2 py-1 my-2 border rounded-md border-font-color focus:outline-none;
}
.ta-single-blog .wp-block-search__inside-wrapper {
  @apply mb-3;
}
.ta-single-blog .wp-block-search__inside-wrapper input {
  @apply px-2 py-1 border rounded-md border-font-color focus:outline-none;
}
.ta-single-blog .wp-block-group__inner-container {
  @apply px-5 pt-4;
}
.ta-single-blog .wp-block-table {
  @apply mb-5;
}
.ta-single-blog .ta-blog-details blockquote p {
  @apply text-base;
}
.ta-single-blog .ta-blog-details dl dt {
  @apply mb-2 text-base font-semibold;
}
.ta-single-blog .ta-blog-details dl dd {
  @apply pl-5 mb-4 text-base font-normal;
}
.ta-single-blog .ta-blog-details p code {
  @apply leading-loose bg-inherit;
}
.ta-single-blog .ta-blog-details hr {
  @apply mb-2;
}
.ta-single-blog .ta-blog-details pre {
  @apply w-full mb-5 overflow-auto;
}
.ta-single-blog .ta-blog-details .aligncenter {
  @apply ml-auto mr-auto;
}
.ta-single-blog .ta-blog-details .alignright {
  @apply float-right;
}
.ta-single-blog .ta-blog-details .wp-caption {
  @apply max-w-full;
}
.ta-single-blog .ta-blog-details ul li code {
  @apply p-0 bg-inherit;
}
.ta-single-blog .ta-blog-details input {
  @apply px-3 py-2 border rounded border-font-color focus:outline-none;
}
.ta-single-blog .ta-blog-details input[type="submit"] {
  padding: 10px 1rem;
  line-height: 1 !important;
}
.ta-single-blog .ta-blog-details .gallery-columns-3 {
  @apply grid grid-cols-3 gap-5;
}
.ta-single-blog .ta-blog-details .gallery-columns-4 {
  @apply grid grid-cols-4 gap-5;
}
.ta-single-blog .ta-blog-details iframe {
  @apply w-full;
}

ol li .comment-metadata a {
  @apply !text-font-color;
}
ol li .fn a {
  @apply !text-font-color capitalize;
}
.comments-area .comment-body {
  @apply relative min-h-[120px] z-0 mb-6 rounded;
  padding: 25px 25px 25px 70px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  border-bottom: 1px solid rgba(225, 225, 225, 0.9);
}
.comment-list .children {
  @apply relative z-0 p-0 m-0 ml-10;
}
.comment-body .reply {
  @apply text-right;
}
#comments img {
  max-width: 100%;
}
.reply a {
  @apply inline-block text-sm font-bold;
  padding: 5px 17px;
  transition: 0.3s ease-in-out 0s;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
}
.comments-area .comment-meta {
  @apply flex flex-row flex-wrap items-start;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-align: flex-start;
  -ms-flex-direction: row;
}
.comment-meta .comment-metadata {
  margin: 0 0 0 5px;
}

.comment-content {
  @apply relative z-0;
  padding: 16px 40px 16px 0;
}
.comments-area img.avatar {
  @apply absolute left-0 z-0 w-16 h-16 rounded-full top-7;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}
.comments-area .reply a {
  @apply !text-white bg-primary border-primary;
}
.comment-reply-title {
  @apply mt-0 mb-4 text-xl;
}
.comment-reply-title a {
  @apply capitalize !text-font-color;
}
.comment-reply-title small a {
  @apply !text-primary;
}
.ta-single-blog .related-articles a {
  @apply !text-font-color hover:!text-primary;
}
/* FAQ */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: all .5s cubic-bezier(0,1,0,1);
}
.accordion-content.show {
  transition: all .5s cubic-bezier(1,0,1,0);
  max-height: 9999px;
  height: auto;
  @apply pb-4;
}
.accordion-header {
  transition: width .35s ease;
  @apply pt-4 pb-4;
}
.accordion-header.active {
  @apply pb-0;
}
.accordion-header svg {
  width: 18px;
  transition: all .35s;
}
.accordion-header.active svg {
  transform: rotate(180deg);
}
