@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  @apply text-font-color font-bold;
}
body,
p,
a {
  @apply text-font-color-light;
}
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}
.ta-btn-primary {
  @apply !py-1.5 lg:!py-3 px-5 lg:px-8 bg-primary rounded-3xl !text-white font-medium ease-linear duration-300 inline-block;
}
.ta-btn-secondary {
  @apply !py-1 lg:!py-1.5 px-5 lg:px-8 bg-white hover:bg-primary rounded-full border-2 border-primary !text-primary hover:!text-white ease-linear duration-300 inline-block;
}

/* Header Css */
.ta-header {
  @apply py-5 absolute ease-linear duration-200 w-full z-20 bg-secondary;
}
.ta-header ul {
  @apply md:flex items-center font-medium;
}
.ta-header ul li {
  @apply my-1 lg:my-0 md:flex hidden;
}
.ta-header ul li:not(:first-child) {
  @apply ml-0 md:ml-6 lg:ml-8;
}
.ta-header ul li a {
  @apply py-1 lg:py-3 inline-block hover:text-primary text-font-color;
}
.ta-sticky-menu {
  @apply fixed px-0 py-3 top-0 left-0 w-full bg-white;
  box-shadow: 0 13px 22px -5px rgb(0 0 0 / 10%);
}
.ta-header button svg:last-child {
  @apply !hidden;
}
.ta-header.menu-active {
  @apply fixed px-0 py-3 top-0 left-0 w-full bg-white;
  box-shadow: 0 13px 22px -5px rgb(0 0 0 / 10%);
}
.ta-header.menu-active nav {
  @apply items-start;
}
.ta-header.menu-active ul li {
  @apply !flex;
}
.ta-header.menu-active button {
  @apply py-4;
}
.ta-header.menu-active button svg:last-child {
  @apply !flex;
}
.ta-header.menu-active button svg:first-child {
  @apply !hidden;
}

/* Hero css */
.bg-banner-img {
  background-image: url("../images/hero.png");
}

/* Footer css */
.ta-footer ul li {
  @apply pb-2;
}
.ta-footer ul li a {
  @apply text-sm;
}
.ta-footer.bg-secondary form,
.ta-footer.bg-secondary form input {
  @apply !bg-white;
}
.ta-footer.bg-secondary .ta-footer-bottom {
  @apply !border-font-color-light;
}

/* Blog css */
.ta-pagination .nav-links {
  @apply flex items-center justify-center gap-2;
}
.ta-pagination .page-numbers {
  @apply border-2 border-secondary rounded font-medium text-font-color-light w-9 h-9 flex items-center justify-center;
}
.ta-pagination .page-numbers:hover,
.ta-pagination .page-numbers.current {
  @apply !text-white bg-primary border-primary;
}
.ta-pagination .page-numbers:hover svg {
  @apply fill-white;
}
.ta-pagination .page-numbers i::before {
  @apply font-semibold;
}
.shadow-ta-box-shadow {
  --tw-shadow: 0px 0px 30px rgba(7, 31, 66, 0.1);
  --tw-shadow-colored: 0px 0px 30px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.text-ta-section-title {
  font-size: 34px;
  line-height: 40px;
}
/* Contact form */
.ta-contact-form input,
.ta-contact-form textarea {
  @apply bg-secondary rounded-none border border-secondary w-full focus:outline-none py-3 px-5;
}

.ta-contact-form .form-control {
  @apply block w-full  text-base text-font-color-light mb-0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ta-blog-details ul {
  @apply mb-4 sm:mb-5 pl-5 sm:pl-9 list-disc;
}
.ta-blog-details a {
  @apply text-primary text-xl inline-block pb-1.5;
}
.ta-blog-details p {
  @apply mb-4;
}
.ta-blog-details h2,
.ta-blog-details h2 strong {
  @apply text-3xl font-medium mb-4;
}
.ta-blog-details h3,
.ta-blog-details h3 strong {
  @apply text-3xl font-medium mb-4;
}
.ta-blog-details ol {
  @apply mb-4 sm:mb-5 pl-5 sm:pl-9;
  list-style: auto;
}

.ta-blog-details figcaption {
  @apply text-xs text-center text-secondary mt-2 mb-4;
  line-height: 1;
}
.ta-blog-details .wp-block-image img {
  box-shadow: 0 4px 8px 0 rgb(67 65 78 / 8%);
  border-radius: 5px;
}
.ta-btn-secondary.live-demo {
  padding: 10px 32px !important;
}

/* extra css */
.sp-single-page p {
  margin-bottom: 1rem;
}

.ta-single-blog input[type="submit"] {
  @apply !py-1.5 lg:!py-3 px-5 lg:px-8 bg-primary rounded-3xl !text-white font-medium ease-linear duration-300 inline-block;
}
.ta-single-blog .post-categories {
  @apply flex items-center justify-center gap-2 flex-wrap;
}
.ta-single-blog .post-categories li a {
  @apply bg-primary py-1 px-2 !text-white;
}
.ta-single-blog .wp-block-page-list {
  @apply p-0;
}
.ta-single-blog .wp-block-page-list li {
  @apply border-b border-font-color;
}
.ta-single-blog .wp-block-page-list li a {
  @apply !text-font-color;
}
.ta-single-blog .wp-block-page-list .wp-block-navigation__submenu-container li {
  @apply border-none;
}
.ta-single-blog .wp-block-site-title a {
  @apply p-0 text-3xl border-b border-font-color pb-1 text-font-color capitalize mb-3;
}
.ta-single-blog .wp-block-post-template,
.ta-single-blog .wp-block-comments .wp-block-comment-template {
  @apply p-0 list-none;
}
.ta-single-blog .wp-block-post-featured-image {
  @apply mb-4;
}
.ta-single-blog .entry-content p {
  @apply mb-7;
}
.ta-single-blog .wp-block-group.has-background p {
  @apply py-4;
}
.ta-single-blog a {
  @apply !text-primary;
}
.ta-single-blog .comment-form-comment textarea {
  @apply rounded focus:outline-none;
}
.ta-single-blog
  .wp-block-search__button-outside
  .wp-block-search__inside-wrapper {
  @apply mt-2;
}
.ta-single-blog
  .wp-block-search__button-outside
  .wp-block-search__inside-wrapper
  button {
  @apply !py-1.5 lg:!py-3 px-5 lg:px-8 bg-primary rounded-3xl !text-white font-medium ease-linear duration-300 inline-block;
}
.ta-single-blog .wp-social-link-fivehundredpx a svg {
  @apply text-white;
}
.ta-single-blog .wp-social-link-wordpress a svg {
  @apply text-white;
}
.ta-single-blog .wp-block-buttons {
  @apply mb-5;
}
.ta-single-blog .wp-block-button__link.wp-element-button {
  @apply py-4 px-8 !text-white;
}
.ta-single-blog .is-style-outline .wp-block-button__link.wp-element-button {
  @apply !text-font-color;
}
.ta-single-blog .wp-block-file {
  @apply mt-4;
}
.ta-single-blog .wp-block-file .wp-block-file__button {
  @apply py-2 px-4 !text-white;
}
.ta-single-blog .ta-blog-details ul,
.ta-single-blog .ta-blog-details ol {
  @apply pl-5;
}
.ta-single-blog blockquote {
  @apply pl-4 border-l-4 border-primary;
}
.ta-single-blog blockquote p {
  @apply !text-2xl;
}
.ta-single-blog blockquote cite {
  @apply !text-lg;
}
.ta-single-blog blockquote.has-text-align-right {
  @apply border-r-4 pr-4 pl-0 border-l-0;
}
.ta-single-blog blockquote p {
  @apply italic;
}
.ta-single-blog .wp-block-quote {
  @apply my-4;
}
.ta-single-blog code {
  @apply p-4 bg-secondary rounded-lg;
}
.ta-single-blog pre {
  @apply p-5 bg-secondary;
}
.ta-single-blog figcaption {
  @apply text-font-color;
}
.ta-single-blog .wp-block-button__link {
  @apply py-3 px-6 !text-white;
}
.ta-single-blog .alignleft {
  @apply max-w-[420px] w-full float-left mb-6 mr-6;
}
.ta-single-blog .wp-block-cover-text,
.ta-single-blog .wp-block-cover-text a,
.ta-single-blog .wp-block-cover-text strong {
  @apply !text-white;
}
.ta-single-blog .entry-content {
  @apply leading-normal;
}
.ta-single-blog .wp-block-audio {
  @apply mb-5;
}
.ta-single-blog .gallery-columns-2 {
  @apply grid grid-cols-2 gap-5;
}
.ta-single-blog .gallery-columns-2 figcaption {
  @apply text-left;
}
.ta-single-blog select {
  @apply border border-font-color rounded-md focus:outline-none py-1 px-2 my-2;
}
.ta-single-blog .wp-block-search__inside-wrapper {
  @apply mb-3;
}
.ta-single-blog .wp-block-search__inside-wrapper input {
  @apply border border-font-color rounded-md focus:outline-none py-1 px-2;
}
.ta-single-blog .wp-block-group__inner-container {
  @apply pt-4 px-5;
}
.ta-single-blog .wp-block-table {
  @apply mb-5;
}
.ta-single-blog .ta-blog-details blockquote p {
  @apply text-base;
}
.ta-single-blog .ta-blog-details dl dt {
  @apply font-semibold text-base mb-2;
}
.ta-single-blog .ta-blog-details dl dd {
  @apply pl-5 font-normal text-base mb-4;
}
.ta-single-blog .ta-blog-details p code {
  @apply leading-loose bg-inherit;
}
.ta-single-blog .ta-blog-details hr {
  @apply mb-2;
}
.ta-single-blog .ta-blog-details pre {
  @apply w-full overflow-auto mb-5;
}
.ta-single-blog .ta-blog-details .aligncenter {
  @apply ml-auto mr-auto;
}
.ta-single-blog .ta-blog-details .alignright {
  @apply float-right;
}
.ta-single-blog .ta-blog-details .wp-caption {
  @apply max-w-full;
}
.ta-single-blog .ta-blog-details ul li code {
  @apply bg-inherit p-0;
}
.ta-single-blog .ta-blog-details input {
  @apply py-2 px-3 border border-font-color rounded focus:outline-none;
}
.ta-single-blog .ta-blog-details input[type="submit"] {
  padding: 10px 1rem;
  line-height: 1 !important;
}
.ta-single-blog .ta-blog-details .gallery-columns-3 {
  @apply grid grid-cols-3 gap-5;
}
.ta-single-blog .ta-blog-details .gallery-columns-4 {
  @apply grid grid-cols-4 gap-5;
}
.ta-single-blog .ta-blog-details iframe {
  @apply w-full;
}
